.top {
  width: 1020px;
  height: 864px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio {
  padding-left: 40px;
  padding-top: 70px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.2px;
}

.first-descr {
  width: 940px;
  padding-left: 40px;
  padding-top: 27px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}

.nav {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  margin-top: 10px;
}

.main-nav {
  margin-right: 10px;
  padding: 2px 6px 3px 7px;;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #666d89;
  text-decoration: none;
  letter-spacing: -0.1px;
}

.main-nav:hover {
  color: #dedede;
  border: 1px solid #dedede;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  overflow: hidden;
  width: 960px;
  height: 621px;
  margin-left: 30px;
  margin-top: 9px;
}

.item {
  padding: 10px;
}

.item:hover {

}

.about {
  width: 1020px;
  height: 728px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.h2 {
  padding-left: 40px;
  padding-top: 68px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.2px;
}

.second-descr {
  padding-left: 40px;
  padding-top: 27px;
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}

.sec-line {
  letter-spacing: 0.15px;
}

.info {
  display: flex;
  margin-left: 40px;
  margin-top: 48px;
  width: 940px;
  justify-content: space-between;
}

.contact {
  display: flex;
  flex-direction: column;
}

.h3 {
  margin-top: 17px;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  letter-spacing: -0.18px;
  text-align: left;
}

.personal-info {
  margin-top: 10px;
  width: 300px;
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.06px;
}

.social {
  display: flex;
  margin-top: 23px;
}

.icon {
  margin-right: 5px;
}

.icon:hover {
  opacity: 50%;
}
