.form {
  width: 1020px;
  height: 648px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.form-name {
  padding-left: 40px;
  padding-top: 69px;
  font-size: 30px;
  line-height: 18px;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.15px;
  color: #f0d8d9;
}

.form-description {
  margin-left: 40px;
  margin-top: 27px;
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
  color: #f0d8d9;
}

.form-container {
  display: flex;
  width: 960px;
  justify-content: space-between;
  margin-left: 40px;
}

.form-inner-paste {
  display: flex;
  flex-direction: column;
  width: 620px;
}

.form-inner-info {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-top: 47px;

}

.contact-info {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.15px;
}

.contact-info-description {
  margin-top: 10px;
  width: 300px;
  height: 175px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  word-break: break-all;
}

.contact-number {

}

.footer {
  width: 1020px;
  height: 76px;
  background-color: #2d303a;
}

.footer-inner {
  width: 940px;
  margin-left: 42px;
  padding-top: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.copyright {

}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 154px;
    padding-top: 2px;
}
